* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font: 2.4vh/3.6vh serif;
}

div#container { /*只對名為container的div有影響*/
	height: 100vh;
	width: 70%;
	margin-left: 30%;
	background-color: grey;
	padding: 5px 10px;
}

nav {
	position: fixed;
	top: 2vh;
	right: 70%;
	padding: 5px 10px;
	background-color: purple;
	color: white;
	font-family: sans-serif;
}